.entryLesson {
  position: relative;
}
.entryLessonContent {
  height: 700px;
  padding: 140px 110px;
  border-radius: 30px;
  box-shadow: 4px 4px 70px 4px rgba(0, 0, 0, 0.15);
}
.entryLessonContent__about {
  width: 50%;
}
.entryLessonFon {
  top: -40px;
  right: 0;
  position: absolute;
  width: 50%;
}
