.about {
    color: #fff;
    display: flex;
    align-items: center;
}
.aboutFon {
    position: relative;
    z-index: -1;
}
.aboutLeft {
    width: 50%;
}
.aboutContent {
    position: absolute;
    display: flex;
    width: 100%;
}
.aboutInfo {
    width: 510px;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
.aboutTitle {
    font-size: 2.5em; 
}
.aboutSubtitle {
    color: #FDD303;
}
.aboutTxt {
    font-size: 1.1em;
}
.aboutTags {
    font-size: 1em;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.aboutTag {
    background-color: #FDD303;
    border-radius: 20px;
    padding: 5px 20px;
}